<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.thoughtworks.twars.mapper.UserMapper">
    <select id="getUserByMobilePhone" resultType="com.thoughtworks.twars.bean.User">
        select * from users where mobilePhone = #{mobilePhone}
    </select>

    <select id="getUserByEmail" resultType="com.thoughtworks.twars.bean.User">
        select * from users where email = #{email}
    </select>

    <insert id="insertUser" parameterType="com.thoughtworks.twars.bean.User" useGeneratedKeys="true" keyProperty="id">
        insert into users(email,mobilePhone,password)
        values (#{email},#{mobilePhone},MD5(#{password}))
    </insert>

</mapper>